@media (min-width:544px) {
    .nav-responsive li {
        display: inline-block;
    }

    .nav-responsive .nav-item+.nav-item {
        margin-left: 1rem;
    }

    .nav {
        padding: 0;
    }

}

@media (max-width: 430px) {
    .custom-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-top: 10px;
    }
}