body {
    background: radial-gradient(circle, #c2c2c2, #666666);
}

/* navbar */
.navbar {
    background-color: #eceeef;
    padding: 1rem 0;
}

.top-nav {
    background-color: #eceeef;
    color: #000000;
}

.navbar-brand {
    color: #FEFBED;
    border-radius: 8px;
    font-size: 1rem;
}

.nav {
    padding: 1rem 0;
}

.nav-link {
    color: #020202;
    padding: 5px;
    border-radius: 10px;
    font-size: 1rem;
    margin: 0 10px;
}

.nav-link:hover {
    background: radial-gradient(circle, #9f9e9e, #666666);
    color: #ffffff;
}

.nav-link:focus {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* dropdown */
.dropdown-menu {
    background-color: #eceeef;
    margin: 0 10px;
}

.dropdown-item {
    text-align: center;
    background-color: #eceeef;
    color: #020202;
    border-radius: 10px;
}

.dropdown-item:hover {
    background: radial-gradient(circle, #9f9e9e, #666666);
    color: #ffffff;
}

.dropdown-item:focus {
    color: rgb(0, 0, 0);
}

.dropdown-divider {
    background-color: #ffffff;
    width: 100%;
}

.dropdown-header {
    background: #eceeef;
    color: #020202;
    font-size: 1.125rem;
}

/* navbar toggler */
.navbar-toggler {
    color: #000000;
    margin: 0 10px;
}

.navbar-toggler:hover {
    background: radial-gradient(circle, #9f9e9e, #666666);
    color: #ffffff;
    border-radius: 10px;
}

.navbar-toggler:focus {
    color: rgb(0, 0, 0);
}

/* jumbotron */
.jumbotron {
    background-color: #eceeef;
    color: #020202;
    font-family: 'Montserrat', sans-serif;
}

/* breadcrumb */
.breadcrumb-sm {
    padding: .275rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #020202;
}

.breadcrumb-sm a {
    color: #020202;
}

.breadcrumb-sm li.active {
    color: #020202;
    font-weight: bold;
}

/* card */
.card-block {
    color: #020202;
}

.card {
    background-color: #eceeef;
    color: #020202;
    border: none;
}

.card-footer {
    background-color: #eceeef;
    color: #020202;
    border: none;
}

.card-subtitle {
    font-size: 1rem;
    font-style: italic;
}

.card-text {
    font-size: .875rem;
}

.card-heading {
    font-size: 1.25rem;
    padding: 0;
    color: #000000;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
}

/* list group */
.list-group {
    margin-bottom: 1rem;
}

.list-group-item.active {
    background-color: #eceeef;
    border-color: #eceeef;
    color: #020202;
}

.list-group-item.active:hover {
    background-color: #eceeef;
    border-color: #eceeef;
    color: #020202;
}

/*pagination */
.page-item.active .page-link {
    background-color: #eceeef;
    border-color: #eceeef;
    color: #020202;
}

.page-link {
    color: #020202;
}

.page-link:hover {
    background: radial-gradient(circle, #9f9e9e, #666666);
    color: #ffffff;
}

/* button */
.button {
    border: 1px solid #c2c2c2;
    color: #020202;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
}

.button:hover {
    background: radial-gradient(circle, #9f9e9e, #666666);
    color: #ffffff;
}