.jumbotron {
    background-color:  #eceeef;
    color: #020202;
    /* color: #FEFBED; */
    /* background-color: #2F996E; */

    font-family: 'Montserrat', sans-serif;
}

.breadcrumb-sm {
    /* background-color: #f5f5f5; */
    padding: .275rem .75rem;
    font-size: .875rem;
    line-height: 1.5;;
}

.card-block {
    /* background-color: #eceeef; */
    color: #020202;
}

/* .card-deck {
   border: none;
} */

.card-footer {
    background-color: #eceeef;
    color: #020202;
    border: none;
}

.card-subtitle {
    font-size: 1rem;
    padding: 0 10px;
}

.card-text {
    font-size: .875rem;
    padding: 0 10px;
}

.card-heading {
    font-size: 1.25rem;
    padding: 0;
    color: #000000; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); 
}

.button {
    border: 1px solid #c2c2c2;
    color: #020202;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
}

.button:hover {
    background: #000000;
    color: #ffffff;
}
