.navbar {
    background-color:  #eceeef;
    padding: 1rem 0;
    /* background-color: #808080; */
}

.top-nav {
    background-color: #eceeef;
    color: #000000;

}

.navbar-brand {
    color: #080808;
    border-radius: 8px;
    font-size: 1rem;
}

.nav {
    padding: 1rem 0;
}

.nav-link {
    color: #020202;
    padding: 5px;
    border-radius: 10px;
    font-size: 1rem;
}

.nav-link:hover {
    background: #020202;
    color: #ffffff;
}

.nav-link:focus {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.dropdown-menu {
    background-color: #eceeef;
}

.dropdown-item {
    text-align: center;
    background-color: #eceeef;
    color: #020202;
   border-radius: 10px;
}   

.dropdown-item:hover {
    background: #000000;
    color: #ffffff;
}

.dropdown-item:focus {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.dropdown-divider {
    background-color: #ffffff;
    width: 100%;
}

.dropdown-header {
    background: #eceeef;
    color: #020202;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.navbar-toggler {
    color: #000000;
    
}

.navbar-toggler:hover {
    color: #000000;
    border-radius: 10px;
   
}

.navbar-toggler:focus {
    color: rgb(0, 0, 0);
}

/* .active {
    background-color: #cdcdcf;
} */